 <?xml version="1.0" encoding="UTF-8"?>  
 <!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->  
 <widget xmlns   = "http://www.w3.org/ns/widgets"  
     xmlns:gap = "http://phonegap.com/ns/1.0"  
     id    = "com.phonegap.hello-world"  
     version  = "1.0.0">  
   <name>Mario plan app</name>  
   <description>  
     Mario plan app  
   </description>  
   <author href="xxx.com">  
     Cara  
   </author>  
    <gap:platform name="android" />  
    <preference name="phonegap-version" value="3.6.3" />   
    <plugin name="cordova-plugin-whitelist" source="npm"></plugin>
     <access origin="*" />  
     <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
 </widget>  